---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item-title a {
  text-decoration: none;
}

.archive__item-title a:hover {
  text-decoration: underline; /* Optional: keep hover effect */
}