---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";


/* custom */

$link-color: rgb(3, 1, 44);
$type-size-8: 0.825em !default; // ~10px
$footer-background-color: #c00;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; 
@import "minimal-mistakes"; // main partials

.archive__item-title a {
  text-decoration: none;
}

.archive__item-title a:hover {
  text-decoration: underline; /* Optional: keep hover effect */
}

/*
// 🔧 Custom overrides come AFTER imports
.masthead,
.masthead__menu-item,
.masthead__menu,
.masthead__inner-wrap {
  background-color: #c00 !important; // Red background
}

.masthead__menu-item a { 
  color: white !important;

  &:hover {
    color: #ffcccb !important;
  }
} */

.site-logo img {
  max-height: 3rem;
}
