---
layout: default
---

<div id="main" role="main">

  <section class="page__content" itemprop="text">
    {{ content }}
  </section>

  <h3 class="archive__subtitle">
    {{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}
  </h3>

  {% if paginator %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  <div class="custom-post-list">
    {% for post in posts %}
      <article class="custom-post-item">
        <div class="custom-post-content">
          <h2 class="custom-post-title">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h2>
          <p class="custom-post-date">
            {{ post.date | date: "%B %-d, %Y" }}
          </p>
            <p class="custom-post-excerpt">
            {{ post.content | markdownify | strip_html | replace: "## Background", "" | truncatewords: 50 }}
            </p>
        </div>

        {% if post.header.teaser %}
          <div class="custom-post-thumb">
            <a href="{{ post.url | relative_url }}">
              <img src="{{ post.header.teaser | relative_url }}" alt="{{ post.title }}">
            </a>
          </div>
        {% endif %}
      </article>
    {% endfor %}
  </div>

  {% include paginator.html %}

</div>
